@using OnecMonitor.Server.ViewModels.Log;
@model LogTemplateEditViewModel

<form method="post" style="height: 100%">
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-secondary" onclick="history.back()" type="button">Back</button>
    </div>

    <input type="text" hidden class="form-control" asp-for="Id" value="@Model.Id">

    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input type="text" class="form-control" asp-for=Name value="@Model.Name">
    </div>

    <div class="mb-3">
        <label class="form-label" for="content">Content:</label>
        <textarea hidden asp-for="Content" id="content">@Model.Content</textarea>
        <div class="form-control" style="min-height: 400px" id="xml_editor"></div>
    </div>

</form>

@section Scripts {
    <script type="text/javascript">
        function init() {
            const editorContainer = document.getElementById('xml_editor');
            const contentContainer = document.getElementById('content');

            OM.initLogCfgTemplateEditor(editorContainer, contentContainer);
        } 
        init();
    </script>
}