@using Newtonsoft.Json;
@using OnecMonitor.Server.ViewModels.TechLogSeances;
@model LockWaitingGraphViewModel

<input type="text" hidden id="graph" name="graph" value="@JsonConvert.SerializeObject(Model.Graph)" />

<div id="graph-container"></div>

@foreach(var member in Model.Graph)
{
    <div id="details-@member.Key" class="mt-3" hidden>
        <vc:vc:lock-waiting-graph-member-details member="@member.Value"></vc:vc:lock-waiting-graph-member-details>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        function init() {
            const chain = document.querySelector('#graph').value;
            OM.initLockWaitingGraph(chain);
        } 
        init();
    </script>
}